body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(back.jpg) center;
  background-size: cover;  
  transition: all ease 300ms;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.9);
  transition: all ease 500ms ;
  z-index: 999;
}
.loader {
  position: fixed;
  width: 80%;
  height: 80%;
  margin: 10% 10% 10% 10%;
 
  z-index: 999;
}
.done{
  opacity: 0;
  visibility: hidden;
}
.buk {
  width: 80%;
  margin-left: 10%;
  margin-top: 40%;
  margin-bottom: -140px;
}
.dum1 {
  width: 20%;
  margin-left: 200px;
  margin-right: 120px;
  animation-name: lift-left;
  animation-duration: 4s;
}
.dum2 {
  width: 20%;
  animation-name: lift-right;
  animation-duration: 4s;
}
@keyframes lift-left {
  0% {
    transform: translateY(0px) scale(1) translateX(0px);
    opacity: 1;
  }
   100% {
    transform: translateY(150px) scale(3) translateX(-100px);
    opacity: 0;
  }
}
@keyframes lift-right {
  0% {
    transform: translateY(0px) scale(1) translateX(0px);
    opacity: 1;
  }
   100% {
    transform: translateY(150px) scale(3) translateX(100px);
    opacity: 0;
  }
}


.logo {
  position: fixed;
  /* width: 25%;
  height: 25%; */
  left: 65%;
  top: 8%;
  z-index: -1000;
}
.label {
  position: relative;
  width: auto;
  height: 50px;

  margin-left: 5%;
}
/* .brand-logo {
  position: relative;
  width: 30%;
  top: 0%;
  bottom: 0%;
} */
.categories {
  align-items: center;
  padding: 0px;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0%;
  margin-left: 10%;
  text-transform: uppercase;
  cursor: pointer;
}
/* _Header / Elements / Desktop / Buttons */
 
.element {
  display: block;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: 90px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 100px;
  color: white;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all ease 500ms ;
}
.element:active {
  border-style: none;
  border-bottom: 3px solid rgb(243, 77, 77);
  text-decoration: rgb(243, 77, 77);
}
.element:hover {
  border-style: none;
  border-bottom: 3px solid rgb(243, 77, 77);
  opacity: 0.9;
}
label {
  color: white;
  transition: all ease 500ms;
}
label:active {
  color: rgb(243, 77, 77);
}
