body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(back.jpg) center;
  background-size: cover;  
  transition: all ease 300ms;
}
.logo {
  position: fixed;
  width: 25%;
  height: 25%;
  left: 65%;
  top: 8%;
  z-index: -1000;
}
.label {
  position: relative;
  width: 25%;
  height: 25%;
  color: aqua;
}
/* .brand-logo {
  position: relative;
  width: 30%;
  top: 0%;
  bottom: 0%;
} */
.categories {
  align-items: center;
  padding: 10px;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 5%;
  margin-left: 10%;
  text-transform: uppercase;
  cursor: pointer;
}
/* _Header / Elements / Desktop / Buttons */
 
.element {
  display: block;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 90px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 100px;
  color: white;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all ease 500ms ;
}
.element:active {
  border-style: none;
  border-bottom: 3px solid rgb(243, 77, 77);
  text-decoration: rgb(243, 77, 77);
}
.element:hover {
  border-style: none;
  border-bottom: 3px solid rgb(243, 77, 77);
  opacity: 0.9;
}
label {
  color: white;
  transition: all ease 500ms;
}
label:active {
  color: rgb(243, 77, 77);
}
